:root {
  --blue: #4B9CD3;
  --dark: #020305;
  --light: #ffffff;
  --gray: #b8c4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--dark);
  color: var(--light);
}


/* HERO */

.hero {
  height: 100vh;
  background: radial-gradient(circle at top, #12243a, #020305);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.hero-content p {
  margin: 1rem 0 2rem;
  color: var(--gray);
}

/* BUTTONS */

.btn {
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  margin: 10px;
}

.primary {
  background: var(--blue);
  color: var(--dark);
}

.ghost {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.small { padding: 10px 24px; }
.large { padding: 16px 40px; }


/* IMAGE STRIP */

.image-strip {
  display: flex;
}

.image-strip img {
  width: 25%;
  object-fit: cover;
  filter: grayscale(100%);
  transit
